<app-nav-bar></app-nav-bar>
<div style="display: flex">
  <mat-card
    *ngFor="let movie of movies"
    class="mat-elevation-z2"
    style="flex: 1 1 auto"
  >
    <mat-card-header class="header">
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
    </mat-card-header>
    <img
      src="{{ movie.ImagePath }}"
      alt="{{ movie.Title }}"
      style="
        width: 285px;
        height: 300px;
        border: 3px solid black;
        object-fit: contain;
      "
    />
    <mat-card-actions class="actions">
      <button
        mat-button
        color="primary"
        (click)="openGenreView(movie.Genre.Name, movie.Genre.Description)"
      >
        Genre
      </button>
      <button
        mat-button
        color="primary"
        (click)="
          openDirectorView(
            movie.Director.Name,
            movie.Director.Bio,
            movie.Director.Birth,
            movie.Director.Death
          )
        "
      >
        Director
      </button>
      <button
        mat-button
        color="primary"
        (click)="openSynopsisView(movie.Description)"
      >
        Synopsis
      </button>
      <mat-icon
        (click)="addToUsersFavorites(movie._id, movie.Title)"
        class="favorite-button"
        >favorite_border</mat-icon
      >
    </mat-card-actions>
  </mat-card>
</div>
