<app-nav-bar></app-nav-bar>
<div class="movie-container">
  <mat-card *ngFor="let movie of favorites" style="flex: 1 1 auto">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-icon
        *ngIf="!setFavStatus(movie._id)"
        (click)="addToUsersFavorites(movie._id, movie.Title)"
        class="favorite-button"
        >favorite_border</mat-icon
      >
      <mat-icon
        *ngIf="setFavStatus(movie._id)"
        (click)="removeFromUsersFavorites(movie._id, movie.Title)"
        class="favorite-button-active"
        >favorite</mat-icon
      >
      <mat-card-subtitle
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <img
        src="{{ movie.ImagePath }}"
        alt="{{ movie.Title }}"
        style="
          width: 300px;
          height: 300px;
          border: 3px solid black;
          object-fit: contain;
        "
      />
    </mat-card-content>
    <mat-card-actions>
      <button
        class="button-link"
        mat-button
        color="primary"
        (click)="openGenreView(movie.Genre.Name, movie.Genre.Description)"
      >
        Genre
      </button>
      <button
        class="button-link"
        mat-button
        color="primary"
        (click)="
          openDirectorView(
            movie.Director.Name,
            movie.Director.Bio,
            movie.Director.Birth,
            movie.Director.Death
          )
        "
      >
        Director
      </button>
      <button
        class="button-link"
        mat-button
        color="primary"
        (click)="openSynopsisView(movie.Description)"
      >
        Synopsis
      </button>
    </mat-card-actions>
  </mat-card>
</div>
