<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"></div>
    <ul>
      <button
        mat-raised-button
        (click)="openProfileView()"
        style="margin-right: 10px"
        color="primary"
      >
        Profile
      </button>
      <button
        mat-raised-button
        (click)="openFavorites()"
        style="margin-right: 10px"
        color="primary"
      >
        Favorites
      </button>
      <button
        mat-raised-button
        (click)="openMovies()"
        style="margin-right: 10px"
        color="primary"
      >
        View All Movies
      </button>
      <button
        mat-raised-button
        (click)="logOut()"
        style="margin-right: 10px"
        color="primary"
      >
        Log Out
      </button>
    </ul>
  </div>
</div>
